.backdrop {
    outline-style: solid;
    outline-width: medium;
    color: #4e8d51;
    padding: 1%;
    flex: 1;
    position: fixed;
}

.navBar {
    justify-content: center;
}

.navBar-link {
    align-self: center;
}

.page {
    display: flex;
    flex-direction: column;
}

.divStyle{
    padding-top: 3%;
}

.button-spacing{
    line-height: 1;
}

.homeButtons{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.customCard{
    display: flex;
    justify-content: center;
}

.cared4Logo{
    display: flex;
    justify-content: center;
}

.search-forms{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.cardStyles{
    width: 40%;
}

.headshot-style{
    border-radius: 25px;
    outline-style: solid;
    outline-width: thick;
    outline-color: #4e8d51;
}

.content-squish{
    padding-top: 0;
}

.content-squish-bottom{
    padding-bottom: 0;
}

.custom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account-details{
    padding-top: 0;
    width: 100%;
}

.loginLogoImage{
    width: 45%;
}

.hici{
    padding: 20px;
    padding-bottom: 0;
}

.homeViewButton{
    padding-top: 10px;
}

.cardFlex{
    display: flex;
    flex-wrap: wrap;
}

.cusCard{
    margin: 1%;
    flex: 1;
}

.logout {
    margin-bottom: 2%;
}

.edit-Buttons{
    margin-top: 2px;
}

/** Tablet Styles **/

/** Mobile Styles **/