.backdrop {
    outline-style: solid;
    outline-width: medium;
    color: #9AEBA3;
    padding: 1%;
    flex: 1;
    position: fixed;
}

.navBar {
    justify-content: center;
}

.navBar-link {
    align-self: center;
}

.page {
    display: flex;
    flex-direction: column;
}

.divStyle{
    padding-top: 3%;
}

.button-spacing{
    line-height: 1;
}

.homeButtons{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.customCard{
    display: flex;
    justify-content: center;
}

.cared4Logo{
    display: flex;
    justify-content: center;
}

.search-forms{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.cardStyles{
    width: 40%;
}

.headshot-style{
    border-radius: 25px;
    outline-style: solid;
    outline-width: thick;
    outline-color: rgb(29, 206, 29);
}

.content-squish{
    padding-top: 0;
}

.custom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account-details{
    padding-top: 0;
}

.sickness-image{
    
}